# Example YAML file for cad-iot-ml project.
# This config file should be placed at the top level directory of the project.

# Environment settings.
environment:
  gcp_project: project-name

# Paths and files.
base_path: /path/to/project/dir
auth_file: auth_file.json
zync_lib_path: /path/to/zync/python/libs
frame_range: 1-5400

# Rigs and base templates.
scene_template: rigs/base_scene_template.ma
camera_rig: rigs/cam_rig.ma
light_rig: rigs/light_rig.ma

# Directories.
scene_dir: scenes/
image_dir: images/
object_dir: objects/
objects:
- asset_001.abc
- asset_002.abc
- asset_003.abc
